bem-bl
bemhtml
john-lib
node_modules
.DS_Store
.idea
.project
.svn
.bem/cache
desktop.bundles/*/*.*
!desktop.bundles/*/*.bemjson.js
!desktop.bundles/*/*.html
!desktop.bundles/*/_*.css
!desktop.bundles/*/_*.ie.css
!desktop.bundles/*/_*.js
!desktop.bundles/.bem/*
