
.b-logo .b-link
{
    color: #666;
    text-decoration: none;
}

.b-logo__slogan
{
    font: 11px Verdana, sans-serif;

    white-space: nowrap;
    letter-spacing: 1px;

    display: block;

    margin-top: 5px;
}