.b-layout-table_layout_70-30 > tbody > .b-layout-table__row > .b-layout-table__cell
{
    width: 70%;
    padding: 0.4em 0;
}

.b-layout-table_layout_70-30 > tbody > .b-layout-table__row > .b-layout-table__cell_position_r
{
    width: 30%;
}

.b-layout-table_layout_70-30 > tbody > .b-layout-table__row > .b-layout-table__inner
{
    margin-right: 20px;
}
